<!DOCTYPE html>
<html>

<head>
    <title>Report - GLOBETREK INSIGHTS: NAVIGATING GLOBAL COUNTRY DATA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/st.css') }}">
</head>

<body
     style="background-image: url(https://images.pexels.com/photos/7412094/pexels-photo-7412094.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");height: 100%; background-position: center;background-repeat: no-repeat; background-size: cover;">
    
    <h1>REPORT</h1>
    <div class="embed-container">
        <iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.public_folders%2FWorld%2BData%2Freport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=edit" width="1400" height="600" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>

    </div>
</body>

</html>