<!DOCTYPE html>
<html>

<head>
    <title>Story -  GLOBETREK INSIGHTS: NAVIGATING GLOBAL COUNTRY DATA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/st.css') }}">
</head>

<body
   style="background-image: url(https://images.pexels.com/photos/7412094/pexels-photo-7412094.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");height: 100%; background-position: center;background-repeat: no-repeat; background-size: cover;">
    <h1>STORY</h1>
    <div class="embed-container">
       <iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.public_folders%2FWorld%2BData%2Fstory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model0000018b67b32f98_00000000&amp;sceneTime=0" width="1400" height="600" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
</body>

</html>